{% extends 'base.html' %}

{% block content %}

<input type="text" id="user-input" autofocus=""><br>
<button type="button" id="sender">Send data</button><br>
<p id="p-text">foo bar</p>


 


<script>

    $("#sender").click(function () {
        var input = $('#user-input').val();
    
        $.ajax({
            url: '/ajax' ,
            data: {
              'inputValue': input
            },
            dataType: 'json',
            success: function (data) {
              document.getElementById('p-text').innerHTML = data["respond"];
            }
          });
        });
    
    </script>
    {% endblock %}